extends layout

block content
	#fb-root
	script.
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	// Page Header
	header.masthead(style="background-image: url('/uploads/#{post.post_image}')")
		.overlay
		.container
			.row
				.col-lg-8.col-md-10.mx-auto
					.post-heading
						h1 #{post.title}
						h2.subheading #{post.subheading}
						span.meta
							| Posted by 
							a(href='/about') #{post.author}
							|                 on #{post.date}
	// Post Content
	article
		.container
			.row
				.col-lg-8.col-md-10.mx-auto
					p !{post.body}
					.fb-comments( data-href='https://www.aayushdutt.com/#{post.tag}',data-width="100%" data-numposts="10")
	hr